/* shared style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    max-width: 1140px;
    margin: 0px auto;
}

section {
    margin: 10vh 5vw;
}

/* nav style */


nav {
    display: flex;
    justify-content: center;
    gap: 230px;
    padding: 20px 0px;


}

.nav-title {
    color: #000;
    font-size: 3em;
    font-weight: 700;
}

.nav-right h3 {
    color: #000;
    font-size: 1em;
    font-weight: 600;
    padding-top: 10px;
    text-transform: uppercase;
}


.nav-left,
.nav-right {

    width: 50%;
}

.nav-des {
    width: 90%;
    font-size: 0.8em;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0px;
}



/* banner style */

.banner-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
  
}

.banner-row .banner-item {

    width: 30%;
    height: 100%;
    background-color: lightgray 50%;


}


.center-item {
    margin-top: 10vh;
}

.banner-item-text {
    color: #000;
    font-weight: 600;
}

.banner-row>div img {
    width: 100%;
    height: 100%;

}

/* footer */

footer {

    padding-top: 20vh;
    padding-bottom: 5vh;
    text-align: center;
    color: #A9A9A9;
}

.user {
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

.footer-text {


    font-weight: 500;

}



/* responsive with media queary for mobile device/smaller device */

@media screen and (max-width:576px) {

    nav {
        flex-direction: column;
        gap: 0;
    }

    .nav-left,
    .nav-right {
        width: 100%;
    }

   

    .banner-row .banner-item {

        width: 40%;
        height: 100p;

    }


}